body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    border-left: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:first-child {
    border-left: none;
}

nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

main {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.content button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.image img {
    width: 300px; /* Anda dapat menyesuaikan ukuran ini */
    max-width: 100%;
}

/* ... [kode sebelumnya] ... */

/* Responsif untuk layar dengan lebar maksimal 768px (tablet) */
@media only screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        order: 2;
        flex: 1 0 100%;
        text-align: center;
        margin: 10px 0;
    }

    nav {
        order: 3;
        flex: 1 0 100%;
        justify-content: space-around;
    }

    main {
        flex-direction: column-reverse; /* Gambar di atas konten */
        align-items: center;
    }

    .image img {
        width: 70%;
    }
}

/* ... [kode sebelumnya untuk layar seluler] ... */
    

/* Responsif untuk layar dengan lebar maksimal 480px (ponsel) */
@media only screen and (max-width: 480px) {
    header {
        padding: 10px;
    }

    nav a {
        margin-right: 10px;
    }

    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 16px;
    }

    .content button {
        padding: 8px 16px;
    }

    .image img {
        width: 100%;
    }
}
