@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root{
  --texto-color: #180202;
  --backgroundo-color: #FCFBF9;
  --primaryo-color: #6E493A;
  --secondaryo-color: #A17A74;
  --accento-color: #D08770;  
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

.btn-brown {
  background-color: var(--primaryo-color) !important; /* saddle brown */
  color: #fff !important; /* white text color */
  border-color: var(--primaryo-color) !important; /* saddle brown border */
}

/* If you want to change the hover state as well */
.btn-brown:hover {
  background-color: var(--accento-color); /* sienna, a lighter brown */
  border-color: var(--accento-color); /* sienna border */
}

/* Mengkustomisasi scrollbar secara keseluruhan */
::-webkit-scrollbar {
  width: 12px; /* Lebar scrollbar */
  background-color: rgba(238, 221, 195, 0.5); /* Warna latar belakang scrollbar dengan sedikit transparansi */
}

/* Mengkustomisasi handle dari scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(238, 221, 195); /* Warna handle scrollbar */
  border-radius: 0px; /* Mengatur border-radius menjadi 0 untuk bentuk kotak */
}

/* Mengkustomisasi handle saat di-hover atau di-click */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(238, 221, 195, 0.8); /* Mengubah warna saat hover dengan sedikit transparansi */
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(238, 221, 195, 1); /* Warna handle saat di-click */
}

/* Mengkustomisasi track dari scrollbar */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Warna latar belakang track dari scrollbar */
}

.btn-brown:hover {
  background-color: var(--accento-color); /* sienna, a lighter brown */
  border-color: var(--accento-color); /* sienna border */
}