/* ! Pemberian warna pada variable */
:root {
    --text-color: #180202;
    --bg-color: #EBEAE6;
    --bg-color-darker: #e0dfdb;
    --debug-color1: bisque;
    --debug-color2: rgb(253, 210, 131);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);

    /* height: 100vh; */
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

.card {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    padding: 1.3rem;

}

/* ! header */
header.navbar-container {
    /* background-color: var(--debug-color1); */
    background-color: var(--bg-color);

    width: 100%;
    /* max-width: 1200px; */

    /* vertikal horizontal */
    padding-block: 1.5rem 1rem;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    position: sticky;
    top: 0;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

header.navbar-container .logo {
    padding: 0.5rem 2rem;
}

header.navbar-container .logo img {
    width: 200px;
}

header.navbar-container .nav-list ul {
    /* background-color: var(--debug-color2); */

    display: flex;
    gap: 2rem 1rem;
    justify-content: center;

    /* menghilangkan padding bawaan list */
    padding-left: 0;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    /*! agar tombol lebih besar */
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: black;
    color: var(--bg-color);
}

/* ! section hero */
section.hero {
    /* flex: 1; */
    width: 100%;
    max-width: 1200px;

    /* agar berada di tengah */
    margin-inline: auto;
}

/* * hero */
section.hero .hero-container {
    /* background-color: var(--debug-color1); */

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 2rem 1.3rem 2rem 1.3rem;
}

section.hero .hero-container .hero-description {
    /* background-color: var(--debug-color2); */

    flex: 3;
}

section.hero .hero-container .hero-description .title {
    margin-block: 1rem;
    font-size: 1.9rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

section.hero .hero-container .hero-description .title:hover {
    text-shadow: none;
}

section.hero .hero-container .hero-description p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

section.hero .hero-container .hero-description button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    margin-block-start: 1rem;
    background-color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);

    cursor: pointer;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

section.hero .hero-container .hero-description button:hover {
    border: 3px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
}

section.hero .hero-container .hero-image {
    /* background-color: var(--debug-color2); */
    flex: 1;

    /* menjadi parent agar img dapat di tengah */
    display: flex;
}

section.hero .hero-container .hero-image img {
    /* background-color: var(--debug-color2); */
    width: 350px;
    min-width: 250px;
    margin: auto;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

section.hero .hero-container .hero-image img:hover {
    filter: none;
    -webkit-filter: none;
}

/* ! main element */
main {
    /* flex: 1; */
    width: 100%;
    max-width: 1200px;

    /* agar berada di tengah */
    margin-inline: auto;
    padding: 0 0 3rem 0;
    /* padding: 2rem 4rem; */
    /* display: flex; */
    /* align-items: flex-start; */
    /* gap: 2rem; */
}

main .container {
    display: flex;
    gap: 2rem;
}

/* ! child main */
div.content {
    padding: 1rem 0 0 0;
    flex: 3;
    display: flex;
    /* align-items: center; */
    flex-flow: column nowrap;
    gap: 2rem;
}

/* * portofolio */
div.content .portofolio {
    /* padding top right bottom left */
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

div.content .portofolio .porto-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

div.content .portofolio .porto-list .project {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

div.content .portofolio .porto-list .project .project-image {
    flex: 3;
}

div.content .portofolio .porto-list .project .project-description {
    flex: 2;
    display: flex;
    flex-flow: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


div.content .portofolio .porto-list .project .project-description a {
    color: var(--text-color);
}

div.content .portofolio .porto-list .project .project-description p {
    text-align: center;
    font-size: 1.2rem;
}

div.content .portofolio .porto-list .project:nth-child(odd) .project-description {
    order: -1;
}

div.content .portofolio .porto-list .project .project-description a:hover {
    font-weight: 800;
    text-decoration: none;
}

div.content .portofolio .porto-list .project img {
    /* * agar gambar sama*/
    width: 100%;
    height: auto;
    opacity: 0.95;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

div.content .portofolio .porto-list .project img:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

/* * About */
div.content .about {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

div.content .about>h2,
div.content .about>p {
    margin-top: 0;
}

div.content .about .skill h3 {
    margin-top: 0;
}

div.content .about .skill-container {
    display: flex;
    gap: 1.2rem;
    flex-flow: row wrap;
    padding: 1rem;
}

div.content .about .skill-container .skill-card {
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 300px;
    height: auto;
    flex-grow: 1;
    padding: 1rem;
}

div.content .about .skill-container .skill-card:hover {
    box-shadow: 1px 1px 13px 0 rgba(0, 0, 0, 0.2);
}

div.content .about .skill-container .skill-card h4 {
    margin: 0;
}

div.content .about .testimonial h3 {
    margin-top: 0;
}

div.content .about .testimonial-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.4rem;
}

div.content .about .testimonial .testimonial-content figure {
    margin: 0;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

div.content .about .testimonial .testimonial-content figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

div.content .about .testimonial .testimonial-content blockquote {
    font-style: italic;
    color: var(--text-color);
    margin: 0;
}

div.content .about .testimonial-content figcaption {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
}

aside {
    flex: 1;
    padding: 1rem 0 0 0;
}

aside .profile h3,
aside .profile h4,
aside .profile p {
    margin: 0;
}

aside .profile {
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
}

aside .profile figure img {
    width: 200px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

aside .profile .profile-description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;
}

aside .profile .profile-description .profile-email {
    color: var(--bg-color);
    padding: 0.5em;
    width: 80%;
    /* margin-bottom: 20px; */
    background-color: var(--text-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
}

aside .profile .profile-social-links {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
}

aside .profile .profile-social-links a {
    text-decoration: none;
    color: var(--text-color);
}

footer {
    /* background-color: var(--debug-color1); */

    padding: 2rem;
    color: var(--text-color);
    /* background-color: var(--bg-color); */
    text-align: left;
    font-weight: bold;
}