/* ! Pemberian warna pada variable */
:root {
    --text-color: #180202;
    --bg-color: #EBEAE6;
    --debug-color1: bisque;
    --debug-color2: rgb(253, 210, 131);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--bg-color); */

    height: 100vh;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

/* ! header */
header.navbar-container {
    /* background-color: var(--debug-color1); */

    width: 100%;
    /* max-width: 1200px; */

    /* vertikal horizontal */
    padding-block: 1.5rem 1rem;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

header.navbar-container .logo {
    padding: 0.5rem 2rem;
}

header.navbar-container .logo img {
    width: 200px;
}

header.navbar-container .nav-list ul {
    /* background-color: var(--debug-color2); */

    display: flex;
    gap: 2rem 1rem;
    justify-content: center;

    /* menghilangkan padding bawaan list */
    padding-left: 0;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    /* ! agar tombol lebih besar */
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;

    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: black;
    color: var(--bg-color);
}

/* ! main element */
main {
    flex: 1;
    width: 100%;
    max-width: 1200px;

    /* agar berada di tengah */
    margin-inline: auto;

    /* padding: 2rem 4rem; */
    display: flex;
    align-items: flex-start;
}

/* ! child main */
div.content {
    flex: 1;
    display: flex;
    /* align-items: center; */
    flex-flow: column nowrap;
}

div.content .hero {
    display: flex;
    align-items: center;
}

div.content .hero .hero-description {
    /* background-color: var(--debug-color1); */
    flex: 3;
}

div.content .hero .hero-description .title {
    margin-block: 1rem;
    font-size: 1.9rem;
}

div.content .hero .hero-description p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

main .hero .hero-description button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    margin-block-start: 1rem;
    background-color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);

    cursor: pointer;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

main .hero .hero-description button:hover {
    border: 3px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
}

div.content .hero .hero-image {
    /* background-color: var(--debug-color2); */
    flex: 2;

    /* menjadi parent agar img dapat di tengah */
    display: flex;
}

div.content .hero .hero-image img {
    /* background-color: var(--debug-color2); */
    width: 350px;
    min-width: 250px;
    margin: auto;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

div.content .hero .hero-image img:hover {
    filter: none;
    -webkit-filter: none;
}