* {
    box-sizing: border-box;
}

body {
    /* akhir font-family harus generic yang dapat diterima semua browser */
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

h2,
h3 {
    color: #00a2c6;
}

.halaman-main a {
    font-size: 16px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    color: white;
}

a:hover {
    font-weight: bold;
}

.halaman-main a:hover {
    color: white;
    background-color: #00c8eb;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
    margin-top: 20px;
}

/* https://www.cssmatic.com/box-shadow */

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #00a2c6;
    padding: 5px;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/position#sticky_positioning */
    position: sticky;
    top: 0;
}

header {
    display: inline;
}

#content {
    width: 75%;
    float: left;
}

aside {
    width: 25%;
    float: right;
    padding-left: 20px;
    /* ! untuk menguji */
    /* background-color: gainsboro; */
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* https://www.dicoding.com/blog/dasar-tampilan-responsif-pada-website/ 
https://developers.google.com/web/fundamentals/design-and-ux/responsive
https://developer.mozilla.org/en-US/docs/Web/HTML/Viewport_meta_tag
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries */
